@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --btc-green: #10b981;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  font-family: 'Inter', sans-serif;
}